<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evaluacion</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div id="conteiner">
    <img src="https://es.web.img2.acsta.net/pictures/14/03/25/09/51/067342.jpg" alt="">
    <h1> Attack on Titan</h1>
  </div>
  <div class="contenido">
      <div class="caja">
        <h2>Historia</h2>
          <p>La trama gira en torno a Eren Jaeger quien después de perder a su madre a manos de los titanes, decide unirse al «Ejército de las murallas» junto a Mikasa Ackerman y Armin Arlert con el objetivo de vengar la muerte de su madre y destruir a los titanes.</p>
      </div>
      <div class="caja">
        <h2>Motivos por los que me gusta</h2>
          <p>Es una serie bastante entretenida con una trama unica y personajes exepcionales.</p>
          <h3>Personajes</h3>
          <ul>
            <li>Eren Jaeger</li>
            <li>Annie Leonhart</li>
            <li>Armin Arlert.</li>
            <li>Erwin Smith.</li>
            <li>Bertholdt Hoover.</li>
            <li>Mikasa Ackerman.</li>
          </ul>   
      </div>
      <div class="caja">
          <h2>Otras peliculas o series similares</h2>
          <div class="caja-ter">
          <h3 class="second-caja">Demon Slayer</h3>
          <p class="second-caja" >Presenta a un chico que inesperadamente se ve obligado a aprender a matar demonios para salvar lo que queda de su familia. El bondadoso Tanjiro vende carbón a la gente del pueblo para ayudar a su familia tras la muerte de su padre.</p>
        </div>
      </div>
  </div>
      
   
  


  




</body>
</html>